language: java

jdk:
- openjdk8

install: "./gradlew assemble"

after_success: .buildscript/deploy_snapshot.sh

branches:
  except:
    - gh-pages

notifications:
  email: false

env:
  global:
    - secure: "ozD0VNLXZXKqUQTIPJJEldR8VNJba2c5FbUO25pJS4yunBKon7NGrsgX53db/Ffey+LZlM3iaLDak/L4dBqDJMY1usR/RJdluiutH9f9xUY2sFxqptxt85x/7b/Saw1Sn9VTQCrHZM+WcpfmfBfu7xszArIMkPH83NdyjBYH4kRFz7hQokSW1c/xlu+0omholpNmOpvKp56D0SH8J64bE5Kw2sOtvxw1CYJ5YFSk9M5PtOTQvweYkrqQ3pxED25u2lyRo/BF9EKSqiPeJeRU3l+jAYCnxHjgZh9IbzlAcadsOyMrIkGWyL21DKmcl20ylTjLqsTn2Fo53lRLNc/x4rlhtWgQ0ln391hGrt6fKH67kDaC72xc0UJSZ2+MNYJ6kbNkQNyJnrFZ+Zi5mUI8P41kU9iaJ+F0lsB0pPtHmL/poh7k6QtDqyaBjhc7cZ7a8+W+kpLl0iU/YfK3LRrWVP9ilYV6uviTLDv5D2mLxeZ8UlmsmiST8QAfXuzohAveWqyOhKm/J4QT8Q9BTRD3nNX1JCyhBKAX8KGhsCsT44dst6WlTq++oO/7BhYcuAgel0MzFi/3MatyVkUZLyVZekhZR/2O2WxEao5rCMtTOv9BZBhSi+/9O/QQbqZvxbGOjRi/IlcUtMFE/GqPL+qSvyPUP6PbLX13TAuhvSmm/EQ="
    - secure: "hwOKry4XOiC6B1nXG3tVWsjpqj0ghWLJRUAT04i73T0ZUky0Q8GfK/VeAutqizFXmH4NotyduWVrNp9L0g4Yigup7bX6G79QExceYuvouV2dqJaG4fb/bMdt6vueHB5OUFO82Qi8QqJDvgbf6jH0wmUZAKFWPkmiL+nobSjBybJOUR+Ew6uIgHc9fFQWBeF4Amty/xMINnf5XzglTqT5ZjLUoCajWBZdWp7kkMlOqCf5y1YDKCZM94WNWOHGXgz08k4aS2FZMXyfgfxCnD4LXDMj4/i1RTAbzk3ORka4yXSH2Xi52TPe/bAc1mulMocOIj4sSa+rHxVK11t1FNFZkvdnghG/Glghe3+R8LG8RHmNRrwqgXH0wq3JOPM60UVXQvUhgYt/Y9gNl8W6z2zKZZvC3BnqIbW40+JV3r1sTD6kCBL1eAhp9r3KAzkxMc/Gy3OmocAQMLgGA1p7Ee4EekxzPjulNJdLv14YfUVWZZ8bBp50SsaQMCWAjoyxP1F91HeiRClRAs/aSTUcRjtQHrUCdOvpLRhkMyvneEmMHd32weMBzNkIw8uzrDvLOAf1uiD79B7nO4mp8lVt7XrVkOAtdWciTOUEqnlm9bEnm1MNgsCXbsyGcSVGhMAXKb05R7ygnT2Z2d4udTyIg8Ygyk+KIlb62ECMlICZcy+lVko="
